<div class="modal-header">
  <h4 class="modal-title">
    <span>{{'Show_post' | translate }}</span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- <div class="modal-body"> -->
<div class="modal-body">

  <div class="row" *ngFor="let post of postList ;let i = index">
    <div class="col-sm-4">
      <img [src]="post.image"  alt="">
    </div>
    <div class="col-sm-8">
      <h2>{{ post.tittle }}</h2>
      <span>{{ helperService.convertJSONDatetoDayMonthYear(post.createdDate) }}</span>
      <p>{{ post.description }}</p>
    </div>
  </div>

</div>


<!-- </div> -->