<div class="modal-header">
  <h4 class="modal-title">
    <span>{{'Show_post' | translate }}</span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- <div class="modal-body"> -->
<div class="modal-body">
  <div class="row">
    <div class="col-sm-4">
      <img style="height: 200px;width: 100%;" src="http://taimienphi.vn/tmp/cf/aut/hinh-nen-tinh-yeu-2.jpg" alt="">
    </div>
    <div class="col-sm-8">
      <h2>Nguyen thanh Dinh</h2>
      <p>lasdkjhadkj ajdlkjasd;la doioqidnal aidjo;ai ada;sdj;adj;as aisjoaishf;aildjas;k;lhl asjd;ashfasf;lashf;a aj;aisfhf;akhf;lasf;aslhf afhj;ashfas</p>
    </div>
  </div>

</div>


<!-- </div> -->