<div class="modal-header">
  <h4 class="modal-title">
    <span>{{'cart' | translate }}</span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form #dataForm="ngForm" (ngSubmit)="onClickOrderBtn()" >
<div class="modal-body">


  <div class="row">
    <div class="col-xxxl-3 col-md-6" *ngFor="let Service of listAllServices_cart ;let i = index">
      <div class="product" >
        <ngx-status-card  title="{{Service.name}}" type="{{Service.imageUrlList}}" price = "{{Service.salePrice}}" 
        >
          <i class="nb-lightbulb"></i>
        </ngx-status-card>

      </div>
      <div class="close">
        <button type="button" class="close" aria-label="Close" (click)="removeProductFromList(Service)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="quanlity">
        <div class="input-group bootstrap-touchspin">
          <span class="input-group-btn">
            <button class="btn btn-default bootstrap-touchspin-down" (click)= "clickDownQuantityButton(Service.productId)" type="button">-</button>
          </span>
          <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
          <!-- <div class = "form-group"> -->
            <input type="number" max="10" style="-webkit-appearance: none" class="form-control" required pattern="[0-9]+" id="{{Service.id}}" name ="qualitychange" class="form-control quantity-r2 quantity js-quantity-product"
            (keyup)= "Service.amount = $event.target.value; onKeyUp(Service.id,Service.amount)" autofocus min="0" data-js-qty="" [value]="Service.amount" style="display: block;">
            
          <!-- </div> -->
          
          <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
          <span class="input-group-btn">
            <button class="btn btn-default bootstrap-touchspin-up" (click)= "clickUpQuantityButton(Service.productId)" type="button">+</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <h1>Tổng tiền: <span>{{TotalMoney}} </span> </h1>
    </div>

  </div>
</div>


<div class="modal-footer">
    <button type="submit" class="btn btn-primary" >{{'order' | translate}}</button>
</div>

</form>



